/* 顧客ページ用のレイアウトに使う色変数

/* グレー系 */
$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafafa;

/* 黄色系 */
$dark_yellow: #888844;
$very_dark_yellow: darken($dark_yellow, 25%);
